{% extends 'ressource/base.html' %}
{% block title %}Add a New Ressource{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Ajouter une nouvelle ressource</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'ressource/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>C'est quoi Dazure ?</h3>
                    <p>Dzure est une application web développé en Python avec le framework Django qui sert à intéragir avec Le PaaS microsoft Azure</p>
                    <h3>Comment je peux gérer mes ressources ?</h3>
                    <p>Tout d'abord il faut avoir un compte microsoft azure et un compte Dazure, Sinon vous ne pouvez pas accéder à l'application.</p>
                    <h3>Des exemples d'utilisation de l'application </h3>
                    <ul>
                        <li>Créer et gérer un groupe de ressources (Stockage,Réseau virtuelle,...)</li>
                        <li>Lancement d'une machine virtuelle</li>
                        <li>Lancement d'un script d'automatisation</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

</div>
{% endblock %}
